{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center site_title">Location index</h1>

    <table class="table container table-striped table-bordered table-hover animated fadeIn" style="max-width:90%">
        <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Breedtegraad</th>
                <th scope="col">Lengtegraad</th>
                <th scope="col">Image</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.breedtegraad }}</td>
                <td>{{ location.lengtegraad }}</td>
                <td>{{ location.image }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('location_new') }}" class="d-flex justify-content-center">
        <strong class="btn btn-primary animated pulse slow">Create new</strong>
    </a>
{% endblock %}
